<a href="https://colab.research.google.com/github/Prashil-14-Stack/ML/blob/main/AdSalesPred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving DigitalAd_dataset.csv to DigitalAd_dataset.csv

In [ ]:
df=pd.read_csv("DigitalAd_dataset.csv")

In [ ]:
df.head(10)

   Age  Salary  Status
0   18   82000       0
1   29   80000       0
2   47   25000       1
3   45   26000       1
4   46   28000       1
5   48   29000       1
6   45   22000       1
7   47   49000       1
8   48   41000       1
9   45   22000       1

In [ ]:
df.size

1200

In [ ]:
df.shape

(400, 3)

In [ ]:
df.shape[1]

3

In [ ]:
df.shape[0]

400

In [ ]:
p=range(len(df))

In [ ]:
print(p)

range(0, 400)

In [ ]:
print(len(df))

400

In [ ]:
X=df.iloc[:,:-1]

In [ ]:
X.head(5)

   Age  Salary
0   18   82000
1   29   80000
2   47   25000
3   45   26000
4   46   28000

In [ ]:
Y=df.iloc[:,-1]

In [ ]:
Y.head(5)

0    0
1    0
2    1
3    1
4    1
Name: Status, dtype: int64

In [ ]:
from sklearn.preprocessing import MinMaxScaler
MM=MinMaxScaler()
X=MM.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.25,random_state=40)

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
age=int(input("enter the Age: "))
Salary=int(input("enter the Salary: "))
output=[[age,Salary]]
result = model.predict(MM.transform(output))
if result==1:
  print("Customer is likely to buy the product") 
else:
  print("Customer is not likely to buy the product")

enter the Age: 20
enter the Salary: 10000
Customer is not likely to buy the product

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
Cm=confusion_matrix(y_test,y_pred)
print(Cm)

[[59  4]
 [12 25]]

In [ ]:
ac=accuracy_score(y_test,y_pred)
print(ac*100)

84.0