<a href="https://colab.research.google.com/github/Prashil-14-Stack/ML/blob/main/ChiSqaure_TipsDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns

In [2]:
dataset=sns.load_dataset('tips')

In [4]:
dataset.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
dataset_1=pd.crosstab(dataset['sex'],dataset['smoker'])

In [15]:
dataset_1

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [16]:
observed_values=dataset_1.values

In [18]:
print(observed_values)

[[60 97]
 [33 54]]

In [19]:
values=stats.chi2_contingency(dataset_1)

In [20]:
values

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [21]:
exp_values=values[3]

In [22]:
exp_values

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [24]:
dataset_1.iloc[0:2,0]

sex
Male      60
Female    33
Name: Yes, dtype: int64

In [26]:
no_of_rows=len(dataset_1.iloc[0:2,0])

In [27]:
dataset_1.iloc[0,0:2]

smoker
Yes    60
No     97
Name: Male, dtype: int64

In [28]:
no_of_cols=len(dataset_1.iloc[0,0:2])

In [29]:
deg_of_free=(no_of_rows-1)*(no_of_cols-1)

In [30]:
print('Degree of Freedom',deg_of_free)

Degree of Freedom 1

In [31]:
chi_test=sum([(o-e)**2/e for o,e in zip(observed_values,exp_values)])

In [32]:
chi_test[0]

0.0011973672091425045

In [33]:
chi_test[1]

0.0007374513274851185

In [34]:
chi_square_test=chi_test[0]+chi_test[1]

In [35]:
print('Chi2Sqaure :',chi_square_test)

Chi2Sqaure : 0.001934818536627623

In [36]:
from scipy.stats import chi2

In [37]:
p_values=chi2.pdf(chi_square_test,deg_of_free)

In [38]:
print('p_value :', p_values)

p_value : 9.06086804105457

In [41]:
alpha=0.05
if p_values>=alpha:
  print('We retain the null hypothesis; ie there is no relationship between the selected categorical variables')
else:
  print('We reject the null hypothesis; ie there is relationship between the selected categorical variables')

We retain the null hypothesis; ie there is no relationship between the selected categorical variables

In [45]:
critical_Val=chi2.ppf(q=1-alpha,df=deg_of_free)

In [46]:
print('Critical_value :', critical_Val)

Critical_value : 3.841458820694124

In [47]:
if chi_square_test<=critical_Val:
  print('We retain the null hypothesis; ie there is no relationship between the selected categorical variables')
else:
  print('We reject the null hypothesis; ie there is relationship between the selected categorical variables')

We retain the null hypothesis; ie there is no relationship between the selected categorical variables